In [1]:
import numpy as np
import pandas as pd

In [4]:
csvPath = r'../YCdata/state-abbrevs.csv'
baidu = pd.read_csv(csvPath)  # 要看jupyter在哪个目录打开，以此目录为相对路径
baidu.head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>state</th>
      <th>abbreviation</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Alabama</td>
      <td>AL</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Alaska</td>
      <td>AK</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Arizona</td>
      <td>AZ</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Arkansas</td>
      <td>AR</td>
    </tr>
    <tr>
      <th>4</th>
      <td>California</td>
      <td>CA</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
csvPath = r'../YCdata/baidu.csv'
baidu = pd.read_csv(csvPath)  # 要看jupyter在哪个目录打开，以此目录为相对路径
baidu.head(5)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Office Ext.</th>
      <th>Mobile</th>
      <th>Name.1</th>
      <th>Office Ext. .1</th>
      <th>Mobile .1</th>
      <th>Name.2</th>
      <th>Office Ext. .2</th>
      <th>Mobile .2</th>
      <th>Name.3</th>
      <th>...</th>
      <th>Unnamed: 232</th>
      <th>Unnamed: 233</th>
      <th>Unnamed: 234</th>
      <th>Unnamed: 235</th>
      <th>Unnamed: 236</th>
      <th>Unnamed: 237</th>
      <th>Unnamed: 238</th>
      <th>Unnamed: 239</th>
      <th>Unnamed: 240</th>
      <th>Unnamed: 241</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Robin Li</td>
      <td>888</td>
      <td>1.350139e+10</td>
      <td>电子商务和搜索应用组</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>WST技术支持和大项目开发部</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>企业软件事业部</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Eric Xu</td>
      <td>666</td>
      <td>1.350139e+10</td>
      <td>郭  眈</td>
      <td>503.0</td>
      <td>1.350105e+10</td>
      <td>刘  宁</td>
      <td>567</td>
      <td>1.350119e+10</td>
      <td>王  啸</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>2</th>
      <td>David Zhu</td>
      <td>600</td>
      <td>1.380119e+10</td>
      <td>陈韫敏</td>
      <td>816.0</td>
      <td>NaN</td>
      <td>梁    政</td>
      <td>890</td>
      <td>1.370137e+10</td>
      <td>张晋江</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>3</th>
      <td>刘建国</td>
      <td>808/818</td>
      <td>1.360130e+10</td>
      <td>齐玉杰</td>
      <td>507.0</td>
      <td>1.352041e+10</td>
      <td>潘    威</td>
      <td>535</td>
      <td>1.360138e+10</td>
      <td>崔毅龙</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
    <tr>
      <th>4</th>
      <td>赵    雯</td>
      <td>565</td>
      <td>1.391104e+10</td>
      <td>刘明海</td>
      <td>512.0</td>
      <td>1.350115e+10</td>
      <td>任丽云</td>
      <td>829</td>
      <td>1.369323e+10</td>
      <td>搜索引擎产品市场部</td>
      <td>...</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
      <td>NaN</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 242 columns</p>
</div>

In [6]:
type(baidu)

pandas.core.frame.DataFrame